<link rel="ractive" href="./ItemColor.html">
<link rel="ractive" href="./Tabs.html">
<link rel="ractive" href="./Input.html">
<link rel="ractive" href="./Toggle.html">

<div id="content">
  {{#if platform == 'aplite'}}
    <Tabs source="{{ dark_mode_source }}" active_tab="{{ dark_mode }}" header="Color theme"/>
  {{/if}}
  {{#if platform != 'aplite'}}
  <ItemColor color="{{ time_color }}" label="Time color"/>
  <ItemColor color="{{ background_color }}" label="Background color"/>
  <Toggle label="Use 24h format" value="{{ military_time }}"/>
  {{/if}}
  {{#if platform == 'aplite'}}
  {{else}}
  {{/if}}
  <div class="section">
    <div>Additional data</div>
  </div>
  {{#if platform != 'aplite'}}
  <ItemColor color="{{ info_color }}" label="Additional information color"/>
  {{/if}}
  <div class="subsection">
    <div>Weather</div>
  </div>
  <Input header="Fixed location (empty to use phone location)" placeholder="Ex: Dublin,Ireland" value="{{ location }}"/>
  <Tabs source="{{ temperature_unit_source }}" active_tab="{{ temperature_unit }}" header="Temperature unit"/>
  <Tabs source="{{ refresh_rate_source }}" active_tab="{{ refresh_rate }}" header="Refresh rate"/>
  <div class="item-container">
    <div id="reset_button_container" class="button-container">
      <input id="reset_button" type="button" class="item-button" value="RESET DEFAULTS" on-click="reset-defaults">
    </div>
  </div>
</div>
<div id="footer" class="item-container">
  <div class="button-container">
    <input id="submit_button" type="button" class="item-button" value="SAVE" on-click="save">
  </div>
</div>
<style>
 @font-face{
   font-family:"Nupe-CondensedRegular";
   src:url("./fonts/Nupe.ttf") format("truetype");
   font-weight:normal;
   font-style:normal;
   font-variant:normal;
 }

 * {
   font-family: sans-serif;
 }

 #content {
   margin-top: 10px;
   padding-bottom: 40px;
 }

 .hidden {
   visibility: hidden;
 }

 .section {
   background-color: #eaeaea;
   height: 30px;
 }

 .section div {
   margin-top: 25px;
   margin-left: 10px;
   font-size: 14pt;
   font-weight: bold;
 }

 .subsection {
   height: 50px;
 }

 .subsection div {
   background: #F7F7F7;
   height: 100%;
   padding-top: 20px;
   padding-left: 10px;
   font-size: 14pt;
   font-weight: bold;
 }

 .item-container {
   margin-top: 0px;
 }

 .donation {
   padding: 10px 10px 0px 10px;
   font-size: 0.7em;
 }

 #reset_button_container {
   padding: 10px;
 }

 #reset_button {
   width: 100%;
   color: black;
   background-color: #c1c1c1;
   height: 40px;
 }

 #preview {
   position: fixed;
   z-index: 999;
   top:      0;
   left:     0;
   width:    100%;
   background-color: rgb(234, 234, 234);
   border-bottom: 1px solid #dedede;
   box-shadow: 0px 5px 5px rgba(0,0,0,0.12);
   padding: 10px 0px;
 }

 #preview_spacer {
   padding: 10px 0px;
   width: 50vw;
   height: 50vw;
   max-width:    355px;
   max-height:   355px;
 }

 #footer {
   position: fixed;
   z-index: 999;
   bottom: 0;
   left:0;
   width: 100%;
   box-shadow: 0px -3px 3px rgba(0,0,0,0.12);
 }

 #footer input {
   height: 40px;
 }

 #footer input {
   width: 100%;
   border-radius: 0;
 }
</style>

<script>
 component.exports = {
   computed: {
     dark_mode_source: function(){
       return [{ label: "Dark"}, { label: "Light"}]
     }, 
     temperature_unit_source: function(){
       return [
         { label: "Celsius" },
         { label: "Fahrenheit" }
       ];
     },
     refresh_rate_source: function(){
       return [
         { label: "5 min" },
         { label: "20 min" },
         { label: "40 min" }
       ];
     },
     time_format_source: function(){
       return [
         { label: "12 hour" },
         { label: "24 hour" }
       ];
     }, 
     _info_color: function(){
       if(this.get("platform") != "aplite"){
           return this.get("info_color");
       }
       return this.foregroundColor();
     }, 
     _time_color: function(){
       if(this.get("platform") != "aplite"){
           return this.get("time_color");
       }
       return this.foregroundColor();
     },
     _background_color: function(){
       if(this.get("platform") != "aplite"){
           return this.get("background_color");
       }
       return this.backgroundColor();
     }
   },
   backgroundColor: function(){
     if(this.get("dark_mode") == 0){
       return "#000000";
     }
     return "#FFFFFF";
   },
   foregroundColor: function(){
     if(this.get("dark_mode") == 0){
         return "#FFFFFF";
     }
     return "#000000";
   },
   onrender: function(){
     this.on('reset-defaults', function() {
       this.set(this.get('defaults'));
     });
   }
 }
</script>
